.parentDiv {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #ccc;
	width: 300px;
	font-size: 25px;
	height: 100%
}
.commenter {
    font-size: 15px;
}

.comment {
    font-size: 12px;
}